nav.ui.container {
	color: #6F321F;
	/* width: 60% !important; */
}

nav div.ui.centered.flex {
	padding: 0 20% !important;
}

@media all and (min-width: 1000px) {
	nav div.ui.centered.flex {
		padding: 0 30% !important
	}
}
